#payment {
  position: relative;
  top: 0;

  width: 100%;
}

#payment .topContent {
  position: absolute;
  display: flex;
  top: 112px;
  width: 100vw;
  height: 200px;
  background: #000;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 208px;
}

#payment .topContent .back {
  display: flex;
  align-items: center;
}

#payment .topContent .back span {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: white;
}

#payment .topContent .title {
  color: white;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.8px;
}

#payment main {
  position: absolute;
  display: flex;
  top: 440px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  justify-content: center;
  flex-direction: column;
}

#payment .paymentList {
  display: flex;
  flex-direction: column;
  padding: 20px 280px;
}

#payment .paymentList .payItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#payment .order {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-top: 64px;
  width: 1232px;
  height: 503px;
}

#payment .order .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

#payment .order .header div:first-child p {
  font-family: Pretendard, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

#payment .order .header div:last-child p {
  font-family: Pretendard, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

#payment .order .orderItems {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 280px;
}

.allText {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.allCost {
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.button {
  width: 502px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background: #0071d9;
  color: #fff;
  font-family: Pretendard, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0 8em 0;
}
