#item section {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#item section input {
  width: 20px;
}

#item .imageFrame {
  width: 88px;
  height: 98px;
  overflow: hidden;
  margin-bottom: 16px;
  background: #dfdfdf;
}

#item .imageFrame .actionBar {
  right: 12px;
  top: 12px;
  width: 38px;
  height: 90px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

#item .imageFrame .actionBar img {
  left: 50%;
  transform: translateX(-50%);
}

#item .imageFrame .actionBar img:nth-child(1) {
  top: 16px;
}

#item .imageFrame .actionBar img:nth-child(2) {
  top: 52px;
}

#item .imageFrame .categories {
  padding: 0;
  position: absolute;
  left: 261px;
  top: 112px;
  width: 38px;
  height: fit-content;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

#item .imageFrame .categories p {
  padding: 20px 10px;
  color: white;
  width: 14px;
  height: fit-content;
  text-align: center;
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

#item #textContainer {
  display: flex;
  flex-direction: column;
}

#item .brand {
  color: #333;
  font-family: Pretendard, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: 0.24px;
  margin-bottom: 8px;
}

#item .name {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Pretendard, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  margin-bottom: 16px;
  white-space: nowrap;
}

#item .countContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 5.5px;
}

#item .countContainer .count {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.32px;
}

#item .countContainer .plus {
  border: 0.5px solid var(--gray-400, #808080);
  display: flex;
  padding: 2px 6px;
  align-items: center;
  cursor: pointer;
}

#item .countContainer .minus {
  border: 0.5px solid var(--gray-400, #808080);
  display: flex;
  padding: 2px 7.5px;
  cursor: pointer;
  align-items: center;
}

#item .price {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
