#payItem section {
  display: flex;
  flex-direction: row;
  align-Items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid var(--gray-50, #e6e6e6);
  width: 100%;
}

#payItem section .contentContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#payItem section .contentContainer input {
  width: 20px;
}

#payItem .imageFrame {
  width: 88px;
  height: 98px;
  overflow: hidden;
  margin-bottom: 16px;
  background: #dfdfdf;
}

#payItem .imageFrame .actionBar {
  right: 12px;
  top: 12px;
  width: 38px;
  height: 90px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

#payItem .imageFrame .actionBar img {
  left: 50%;
  transform: translateX(-50%);
}

#payItem .imageFrame .actionBar img:nth-child(1) {
  top: 16px;
}

#payItem .imageFrame .actionBar img:nth-child(2) {
  top: 52px;
}

#payItem .imageFrame .categories {
  padding: 0;
  position: absolute;
  left: 261px;
  top: 112px;
  width: 38px;
  height: fit-content;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

#payItem .imageFrame .categories p {
  padding: 20px 10px;
  color: white;
  width: 14px;
  height: fit-content;
  text-align: center;
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

#payItem #textContainer {
  display: flex;
  flex-direction: column;
}

#payItem .brand {
  color: #333;
  font-family: Pretendard, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: 0.24px;
  margin-bottom: 8px;
}

#payItem .payItemName {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Pretendard, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  margin-bottom: 4px;
  white-space: nowrap;
}

#payItem .countContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 5.5px;
}

#payItem .countContainer .count {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.32px;
}

#payItem .countContainer .plus {
  border: 0.5px solid var(--gray-400, #808080);
  display: flex;
  padding: 2px 6px;
  align-payItems: center;
  cursor: pointer;
}

#payItem .countContainer .minus {
  border: 0.5px solid var(--gray-400, #808080);
  display: flex;
  padding: 2px 7.5px;
  cursor: pointer;
  align-payItems: center;
}

#payItem .price {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

#payItem section .remove {
  cursor: pointer;
}
