.styledSidebar {
  display: flex;
  width: 18.75em;
  height: 100vh;
  background-color: black;
  flex-direction: column;
  padding-top: 6.75em;
  padding-bottom: 3em;
  justify-content: space-between;
}

.topContainer {
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.25em;
}

.logo {
  width: 60%;
}

.categoryContainer {
}

.category {
  color: white;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 1.25em 0em 1.25em 2em;
  cursor: pointer;
}

.category:hover {
  background: rgba(0, 113, 217, 0.5);
}

.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
